#!/usr/bin/env python
PACKAGE = 'radiation_layer'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "Whether to apply this plugin or not", True)

gen.add('z_scale', double_t, 0, "scale_zvalues", 1.0, 0.00001, 999.9)
gen.add('z_offset', double_t, 0, "offset", 0.0, 0.000, 999.9)

exit(gen.generate(PACKAGE, "radiation_layer_cisro", "HeightLayer_cisro"))
